* {
	margin:0;
	padding:0;
	-webkit-touch-callout:none;
}


html {
	-webkit-text-size-adjust: 100%;
	overflow:hidden;
}

body {
	background-color: #EAEAEA;
	overflow:hidden;
}

input {
	-webkit-appearance: none;
	border:0;
}

/*https://gist.github.com/mattsahr/1372229*/
#pageOuter, #pageMiddle {
    position:absolute;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    padding:0px;
    -webkit-overflow-scrolling: touch;
    overflow-x:hidden;
    overflow-y:auto;
}
#pageInner {
    position:absolute;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    padding:0px;
}


#header {
	position: fixed;
	top:0px;
	left:0px;
	height:44px;
	width:100%;
	background-color: rgba(255,255,255,0.8);
	border-bottom:1px solid #ccc;
	z-index:100;
	font-size: 22px;
	line-height: 44px;
	text-align: center;
	color:#000;
	font-weight: 500;
}

#header.ios7 {
	padding-top: 20px;
}

#header #edit {
	position: absolute;
	right:10px;
	bottom:0px;
	font-size: 22px;
	line-height: 44px;
	text-align: right;
	color:#06f;
	font-weight: 200;
	text-decoration: none;
}

.container:before {
	content: " ";
	display:block;
	height:44px;
}

.container.ios7:before {
	height:64px;
}

.container {
	position: absolute;
	top:0px;
	width:33.3%;
	height:100%;
	border-left:1px solid #ccc;
	overflow-x:hidden;
	overflow-y:auto;
    -webkit-overflow-scrolling: touch;

    box-sizing:border-box;
	-moz-box-sizing:border-box;
}

.container .addDevice {
	width:100%;
	display:none;
	text-align: center;
	padding:0;
	margin:0;
}

.container .addDevice .add {
	font-size: 30px;
}

#GL_container  {
	left:0;
}
#GA_container  {
	left:33.3%;
}
#POWER_container  {
	left:66.6%;
	height:40%;
}
#log_container  {
	left:66.6%;
	top:40%;
	height:60%;
	border-top: 1px solid #ccc;
	color:#eee;
	font-family: monospace;
}


#navbar {
	display:none;
	position: fixed;
	bottom:0px;
	left:0px;
	right:0px;
	height:44px;
	border-top: 1px solid #ccc;
	background-color: rgba(255,255,255,0.8);

	text-align: justify;
	text-align-last: justify;

	z-index:100;
}

#navbar span {
	display: inline-block;
	margin-left:10px;
	margin-right: 10px;
	text-decoration: none;
	color:#000;
	font-size: 11px;
	line-height: 11px;
	text-align: center;
}
#navbar span img {
	max-height:28px;
	margin-top: 2px;
	margin-bottom: 2px;
}

#navbar:after
{
	content: "";
	display: inline-block;
	width: 100%;
}

@media (max-width: 700px) {
	.container {
		width:100%;
		left:0px !important;
		display:none;
	}
	#GL_container {
		display:block;
	}
	#log_container  {
		top:0px;
		height:100%;
		border-top: 0px;
	}
	#navbar {
		display:block;
	}
	.container::after {
		content: " ";
		display:block;
		height:44px;
	}

}
@media (min-width: 701px) {
	.container {
		display:block !important;
	}
	#log_container:before {
		display:none;
	}
}

.device {
	position: relative;
	border-bottom:1px solid #ccc;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-top: 5px;
	background-color: #fff;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}

.device .drag {
	position: absolute;
	top: 0px;
	left:0px;
	height:100%;
	width:10%;
	background-color:rgba(0,0,0,0.1);
	display:none;
	cursor: move;
}

.device .info {
	position: relative;
	width:100%;
	height:40px;
	border:0px solid #ff0;
	line-height: 20px;
}

	.device .info input{
		background: transparent;
		z-index:10;
	}
	.device .info .icon {
		position:absolute;
		bottom:10px;
		left:0px;
		width:40px;
		height:20px;
		z-index:2;
	}

	.device .info .prot {
		position:absolute;
		top:10px;
		left:42px;
		font-size: 9px;
		line-height: 10px;
		width:18px;
		z-index:2;
	}
	.device .info .addr {
		position:absolute;
		bottom:10px;
		left:42px;
		font-size: 9px;
		line-height: 10px;
		width:18px;
		z-index:2;
	}

	.device .info .bus {
		position:absolute;
		top:10px;
		left:42px;
		font-size: 9px;
		line-height: 10px;
		width:18px;
		z-index:2;
	}

	.device .info .name {
		position: absolute;
		top:8px;
		left:60px;
		right: 46px;
		/*max-width: 100%;*/
		height:28px;
		
		font-size: 20px;
		overflow:hidden;
		text-overflow:ellipsis;
   		white-space: nowrap;
   		z-index:15;
	}

	.device .info .name[contenteditable=true] {
		text-overflow:inherit;
		overflow:visible;
	}


	.device .info .stop {
		position: absolute;
		top:6px;
		right:0px;
		width:44px;
		height:28px;
		border:1px solid #ccc;
		background:transparent;
		border-radius: 7px;
		text-align: center;
		color:#ccc;
		padding:0;
		outline:none;
		z-index:3;
	}

	.device .info .stop:hover, .device .info .stop.active {
		color:#e00;
		border-color:#e00;
	}

	.device .info .stop:active {
		background:#e00;
		color:#fff;
		border-color:#e00;
	}


	.device .info .toggle {/*TODO*/
		position: absolute;
		top:6px;
		right:0px;
	}

	.GA .info .toggle:checked {
		box-shadow: inset 0 0 0 14px #0b0;
	}
	.GA .info .toggle:before {
		box-shadow: inset 0 0 0 14px #f00;
	}
	.GA .info .toggle:checked:before {
		box-shadow: inset 0 0 0 1px #0b0;
	}

	.POWER .info .toggle:checked {
		box-shadow: inset 0 0 0 14px #0b0;
	}
	.POWER .info .toggle:before {
		box-shadow: inset 0 0 0 14px #eee;
	}
	.POWER .info .toggle:checked:before {
		box-shadow: inset 0 0 0 1px #0b0;
	}

	

.GL .movement {
	position: relative;
	padding-left:30px;
	padding-right:30px;
	margin-top: 5px;
	margin-bottom: 5px;
}

	.GL .movement .speed {
		width:100%;
	}
	.GL .movement .bwd, .GL .movement .fwd {
		position: absolute;
		top:2px;
		
		width:19px;
		height:19px;

		color:#ccc;

		opacity: 0.5;

		transition:opacity .5s;
	}
	.GL .movement .bwd {
		left:3px;
	}
	.GL .movement .fwd {
		right:3px;
	}
	.GL .movement .active {
		opacity: 1.0;
	}

.GL .functions {
	text-align: center;
	max-width:100%;
}
	.GL .functions .function {
		font-size: 17px;
		line-height: 21px;
		color:#ccc;
	}


#log_container {
	background: #333330;
}
#log {
	position: relative;
	width:100%;

	font-family: monospace;
	font-size: 15px;
	line-height: 15px;
}

#log span {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}
	#log .timestamp {
		color:#ccc;
		font-size: 10px;
	}
	#log .status {
		color:#f0f;
	}
	#log .action {
		color:#f00;
	}
	#log .bus {
		color:#0f0;
	}
	#log .device_group {
		color:#ff0;
	}
	#log .content {
		color:#fff;
	}

#cli_container {
	position: relative;
	width:100%;
	border-top:1px solid #222;
	margin-top: 2px;
	padding-top: 2px;
}

.cli_input {
	height:17px;
	text-align: center;
	border:0;
	border-radius: 9px;
	background-color: #444;
	outline:none;

	font-family: monospace;
	font-size: 15px;
	line-height: 15px;
	color:#fff;
}
.cli_input:focus {
	background-color: #555;
}

.cli_input::-webkit-input-placeholder { color:#aaa; }
.cli_input::-moz-placeholder { color:#aaa; }
.cli_input:-moz-placeholder { color:#aaa; }
.cli_input:-ms-input-placeholder { color:#aaa; } 

