* {
	margin:0;
	padding:0;
	-webkit-touch-callout:none;
}


html {
	-webkit-text-size-adjust: 100%;
	overflow:hidden;
}

body {
	background-color: #EAEAEA;
	overflow:hidden;
}

input {
	-webkit-appearance: none;
	border:0;
}

/*https://gist.github.com/mattsahr/1372229*/
#pageOuter, #pageMiddle {
    position:absolute;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    padding:0px;
    -webkit-overflow-scrolling: touch;
    overflow-x:hidden;
    overflow-y:auto;
}
#pageInner {
    position:absolute;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    padding:0px;
}


#header {
	position: fixed;
	top:0px;
	left:0px;
	height:44px;
	width:100%;
	background-color: rgba(255,255,255,0.8);
	border-bottom:1px solid #ccc;
	z-index:100;
	font-size: 22px;
	line-height: 44px;
	text-align: center;
	color:#000;
	font-weight: 500;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
}

#header.ios7 {
	padding-top: 20px;
}

#header #edit, #header #add {
	position: absolute;
	bottom:0px;
	font-size: 22px;
	line-height: 44px;
	text-align: right;
	color:#06f;
	font-weight: 200;
	text-decoration: none;
}

#header #edit {
	right:10px;
}

#header #add {
	left:10px;
	display: none;
}

.container:before {
	content: " ";
	display:block;
	height:44px;
}

.container.ios7:before {
	height:64px;
}

.container {
	position: absolute;
	top:0px;
	width:33.3%;
	height:100%;
	border-left:1px solid #ccc;
	overflow-x:hidden;
	overflow-y:auto;
    -webkit-overflow-scrolling: touch;

    box-sizing:border-box;
	-moz-box-sizing:border-box;
}

.container .devices {
	min-height: 5px;
}

.container .addDevice {
	width:100%;
	display:none;
	text-align: center;
	padding:0;
	margin:0;
}

.container .addDevice .add {
	font-size: 30px;
	color: #555;
}

#GL_container  {
	left:0;
}
#GA_container  {
	left:33.3%;
}
#POWER_container  {
	left:66.6%;
	height:40%;
}
#log_container  {
	left:66.6%;
	top:40%;
	height:60%;
	border-top: 1px solid #ccc;
	color:#eee;
	font-family: monospace;
}


#navbar {
	display:none;
	position: fixed;
	bottom:0px;
	left:0px;
	right:0px;
	height:44px;
	border-top: 1px solid #ccc;
	background-color: rgba(255,255,255,0.8);

	text-align: justify;
	text-align-last: justify;

	z-index:90;
}

#navbar span {
	display: inline-block;
	margin-left:10px;
	margin-right: 10px;
	text-decoration: none;
	color:#000;
	font-size: 11px;
	line-height: 11px;
	text-align: center;
}
#navbar span img {
	max-height:28px;
	margin-top: 2px;
	margin-bottom: 2px;
}

#navbar:after
{
	content: "";
	display: inline-block;
	width: 100%;
}

@media (max-width: 700px) {
	.container {
		width:100%;
		left:0px !important;
		display:none;
	}
	#GL_container {
		display:block;
	}
	#log_container  {
		top:0px;
		height:100%;
		border-top: 0px;
	}
	#navbar {
		display:block;
	}
	.container::after {
		content: " ";
		display:block;
		height:44px;
	}

}
@media (min-width: 701px) {
	.container {
		display:block !important;
	}
	#log_container:before {
		display:none;
	}
}

.device {
	position: relative;
	left:0;
	border-bottom:1px solid #ccc;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-top: 5px;
	background-color: #fff;
	box-sizing:border-box;
	-moz-box-sizing:border-box;

	transition:left .5s, padding .1s;
}

.device .drag {
	position: absolute;
	top: 0px;
	right:10px;
	height:100%;
	width:20px;
	
	background-image:url("../images/drag.png");
	background-repeat: repeat-x;
	background-position: left center;
	display:none;
	cursor: move;
}

.device .delete_circle {
	position: absolute;
	top: 0px;
	left:10px;
	height:100%;
	width:20px;
	
	background-image:url("../images/delete.png");
	background-repeat: no-repeat;
	background-position: left center;
	background-size: contain;
	display:none;
}

.device .delete {
	position: absolute;
	top: 0px;
	right:0px;
	height:100%;
	width:auto;
	
	background-color:#FF3E22;
	display:none;
}

.device .delete:before {
	display: block;
	position: relative;
	height:50%;
	width:100%;
	vertical-align: middle;
	content:" ";
}
.device .delete:after {
	display: block;
	position: relative;
	top: -9px;
	color:#fff;
	font-size: 18px;
	line-height: 18px;
	font-weight: 200;
	padding-left:10px;
	padding-right: 10px;
	content:"delete";
}

.device .info {
	position: relative;
	width:100%;
	height:40px;
	border:0px solid #ff0;
	line-height: 20px;
}

	.device .info input{
		background: transparent;
		z-index:10;
	}
	.device .info .icon {
		position:absolute;
		bottom:10px;
		left:0px;
		width:40px;
		height:20px;
		z-index:2;
	}

	.device .info .prot {
		position:absolute;
		top:10px;
		left:42px;
		font-size: 9px;
		line-height: 10px;
		width:18px;
		z-index:2;
	}
	.device .info .addr {
		position:absolute;
		bottom:10px;
		left:42px;
		font-size: 9px;
		line-height: 10px;
		width:18px;
		z-index:2;
	}

	.device .info .bus {
		position:absolute;
		top:10px;
		left:42px;
		font-size: 9px;
		line-height: 10px;
		width:18px;
		z-index:2;
	}

	.device .info .name {
		position: absolute;
		top:8px;
		left:60px;
		right: 46px;
		/*max-width: 100%;*/
		height:28px;
		
		font-size: 20px;
		overflow:hidden;
		text-overflow:ellipsis;
   		white-space: nowrap;
   		z-index:15;
	}

	.device .info .name[contenteditable=true] {
		text-overflow:inherit;
		overflow:visible;
	}


	.device .info .stop {
		position: absolute;
		top:6px;
		right:0px;
		width:44px;
		height:28px;
		border:1px solid #ccc;
		background:transparent;
		border-radius: 7px;
		text-align: center;
		color:#ccc;
		padding:0;
		outline:none;
		z-index:3;
	}

	.device .info .stop:hover, .device .info .stop.active {
		color:#e00;
		border-color:#e00;
	}

	.device .info .stop:active {
		background:#e00;
		color:#fff;
		border-color:#e00;
	}


	.device .info .toggle {/*TODO*/
		position: absolute;
		top:6px;
		right:0px;
	}

	.GA .info .toggle:checked {
		box-shadow: inset 0 0 0 14px #0b0;
	}
	.GA .info .toggle:before {
		box-shadow: inset 0 0 0 14px #f00;
	}
	.GA .info .toggle:checked:before {
		box-shadow: inset 0 0 0 1px #0b0;
	}

	.POWER .info .toggle:checked {
		box-shadow: inset 0 0 0 14px #0b0;
	}
	.POWER .info .toggle:before {
		box-shadow: inset 0 0 0 14px #eee;
	}
	.POWER .info .toggle:checked:before {
		box-shadow: inset 0 0 0 1px #0b0;
	}

	

.GL .movement {
	position: relative;
	padding-left:30px;
	padding-right:30px;
	margin-top: 5px;
	margin-bottom: 5px;
}

	.GL .movement .speed {
		width:100%;
	}
	.GL .movement .bwd, .GL .movement .fwd {
		position: absolute;
		top:2px;
		
		width:19px;
		height:19px;

		color:#ccc;

		opacity: 0.5;

		transition:opacity .5s;
	}
	.GL .movement .bwd {
		left:3px;
	}
	.GL .movement .fwd {
		right:3px;
	}
	.GL .movement .active {
		opacity: 1.0;
	}

.GL .functions {
	text-align: center;
	max-width:100%;
}
	.GL .functions .function {
		font-size: 17px;
		line-height: 21px;
		color:#ccc;
	}


#log_container {
	background: #333330;
}
#log {
	position: relative;
	width:100%;

	font-family: monospace;
	font-size: 15px;
	line-height: 15px;
}

#log span {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}
	#log .timestamp {
		color:#ccc;
		font-size: 10px;
	}
	#log .status {
		color:#f0f;
	}
	#log .action {
		color:#f00;
	}
	#log .bus {
		color:#0f0;
	}
	#log .device_group {
		color:#ff0;
	}
	#log .content {
		color:#fff;
	}

#cli_container {
	position: relative;
	width:100%;
	border-top:1px solid #222;
	margin-top: 2px;
	padding-top: 2px;
}

.cli_input {
	height:17px;
	text-align: center;
	border:0;
	border-radius: 9px;
	background-color: #444;
	outline:none;

	font-family: monospace;
	font-size: 15px;
	line-height: 15px;
	color:#fff;
}
.cli_input:focus {
	background-color: #555;
}

.cli_input::-webkit-input-placeholder { color:#aaa; }
.cli_input::-moz-placeholder { color:#aaa; }
.cli_input:-moz-placeholder { color:#aaa; }
.cli_input:-ms-input-placeholder { color:#aaa; } 


#add_device_container {
	display: none;
	position: absolute;
	top:0px;
	left:0px;
	height:100%;
	width:100%;
	background:rgba(0,0,0,0.5);
	z-index: 100;
}

#add_device_container .arrow {
	top: 25px;
	left: 32px;
	border: solid transparent;
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: rgba(255, 255, 255, 1);
	border-width: 10px;
	margin-left: -10px;
}

#add_device_container .dialog {
	position: absolute;
	top:45px;
	left:10px;
	max-height:350px;
	width:300px;
    background-color:#fff;
    border-radius:10px;
	overflow: scroll;
}

#add_device_container input, #add_device_container button, #add_device_container select {
	outline: none;
	
	border:0;
	background: none;
	width:100%;
	height:44px;
	
	
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 44px;
	text-align: left;
	color:#000;
}

#add_device_container p {
	position: relative;

	padding-left: 10px;
	padding-right: 10px;
	
	border-top: 1px #cbcbcb solid;

	background-color: #fff;

	min-height: 44px;
}

#add_device_container p br {
	display: none;
}
#add_device_container label  {
	position:absolute;
	top:0;
	left:0;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: 200;
	line-height: 44px;
	padding-left:10px;
	color:#454545;
}

#add_device_container input[type="text"] {
	text-align: right;
}

#add_device_container input[type="button"], #add_device_container button, #add_device_container .br {
	color:#007AFF;

	border-top: 1px #cbcbcb solid;

	background-color: #fff;

	text-indent: 10px;

	border-radius: 0;
}

#add_device_container .br {
	height:44px;
}


#add_device_container .cancel {
	color:red;
	text-align: center;
}

#add_device_container input[type="button"]:active, #add_device_container button:active {
	background-color:#cbcbcb;
}

#add_device_container input:focus {
	color:#007AFF;
}

@media (max-width: 700px) {
	#add_device_container {
		z-index:91;
	}

	#add_device_container .dialog{
		width:100%;
		height:100%;
		left:0px;
		top:0px;
		border-radius: 0px;
		background-color: #fff;
	}
	#add_device_container > ::before {
		display:block;
		height:44px;
		content:" ";
	}

	#add_device_container .arrow {
		display: none;
	}
}

#server_settings {
	position: absolute;
	top:0px;
	left:0px;
	height:100%;
	width:100%;
	background:rgba(0,0,0,0.5);
	z-index: 101;
}

#server_settings .outer {
	display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

#server_settings .middle {
    display: table-cell;
    vertical-align: middle;
}

#server_settings .inner {
    margin-left: auto;
    margin-right: auto; 
    width: 300px;
    background-color:rgba(255,255,255,0.7);
    border-radius:10px;
    overflow: hidden;
    text-align: center;
}

#server_settings .title {
	font-size: 20px;
	font-weight: 500;
	margin-top: 10px;
}

#server_settings #server_close_msg {
	padding:10px;
}

#server_settings input[type="text"] {
	border:1px solid #aaa;
	border-radius: 5px;
	height:25px;
	text-align: center;
	font-size: 15px;
}

#server_settings input[type="button"] {
	margin-top: 10px;
	display:block;
	width:100%;
	height:44px;
	font-size: 16px;
	line-height: 44px;
	color:#007AFF;
	border-top: 1px #aaa solid;
	outline:none;
	background-color: transparent;
	text-indent: 10px;
}

#server_settings input[type="button"]:active {
	background-color:rgba(255,255,255,0.7);
}