* {
    font-family: "Helvetica Neue", Arial, sans-serif;
}

.sortable-ghost {
  opacity: .2;
}

input[type=range] {
    position:relative;
    outline: none;
    width: 200px;
    height:4px;
    border-radius: 2px;
    margin-top:9px;
    margin-bottom:9px;
    background-position: 0px 0px;
    background-image: linear-gradient(to right, rgba(1,1,1,0) 0px, #007AFF 0px, #007AFF 0px, #B7B7B8 0px);
}


input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    position:relative;
    background-color:#fff;
    border:1px solid #ddd;
    border-radius:50%;
    width:18px;
    height:18px;
    margin-top:10px;
    margin-bottom:10px;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.4);
}


input[type="checkbox"] {
  margin:0;
  position: relative;
  height: 28px;
  width: 44px;
  vertical-align: top;

  appearance: none;
  outline:none; 
  cursor: pointer;

  border-radius: 24px;
  box-shadow: inset 0 0 0 14px #53d76a;
}
input[type="checkbox"]:checked {
  box-shadow: inset 0 0 0 14px #53d76a;
}

input[type="checkbox"]:before {
  content:" ";
  display: block;

  width:44px;
  height:28px;
  
  background:none;
  
  border-radius: 24px;
  box-shadow: inset 0 0 0 14px #fff;
  
  transition: box-shadow .5s;
}
input[type="checkbox"]:checked:before {
  box-shadow: inset 0 0 0 1px #53d76a;
  transition: box-shadow .5s;
}

input[type="checkbox"]:after {
  content: '';
  display: block;

  position: absolute;
  top: 1px;
  left: 1px;
  right: 16px;
  height: 26px;

  background-color: white;

  border: 0px solid #ccc;
  border-radius: 24px;

  transition: left .35s .2s, right .2s .35s;
}
input[type="checkbox"]:checked:after {
  left: 16px;
  right: 1px;
  transition: left .2s .35s, right .35s .2s;
}